<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>example - home</title>
</head>
<body>
    <div class="total-container">
        <div class="first-note">2017年09月26日13:44:18</div>
        <div class="second-note">haha</div>
        <br>
        <div class="image-example-common"></div>
    </div>
    <% if (env !== "production" && reload === true) { %>
        <script src="/jquery.js"></script>
        <script src="/reload/reload.js"></script>
        <script src="/home/index.js"></script>
    <% } %>
</body>
</html>
