/*
* @Author: JohnTrump
* @Date:   2017-09-22 16:03:24
* @Last Modified by:   JohnTrump
* @Last Modified time: 2017-10-09 00:11:29
*/

body {
  background-color: red;
}

.first-note {
  font-size: 20px;
  border-color: red;
}
