/*
* @Author: JohnTrump
* @Date:   2017-09-22 16:03:24
* @Last Modified by:   JohnTrump
* @Last Modified time: 2017-09-27 11:34:28
*/

html {
  color: red;
  background-image: url('../images/logo.png');
}

.first-note {
  font-size: 25px;
  box-sizing: content-box;
}