/*
* @Author: JohnTrump
* @Date:   2017-09-22 16:03:24
* @Last Modified by:   JohnTrump
* @Last Modified time: 2017-10-04 13:33:40
*/

html {
  color: blue;
}

.first-note {
  font-size: 25px;
  box-sizing: content-box;
}
